<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Allar Bensínstöðvar fyrirtækisins</h1>
    <h1><a href="/">Heim</a></h1>
    <main>
        <table>
            <caption> <h1>Allar Bensínstöðvar fyrirtækisins</h1></caption>
            <tr>
                <th>Fyrirtæki</th> <th>Staður</th>
            </tr>
                {% for x in data["results"] %}
                    {% if x["company"] == id %}
                    <tr>
                        <td> <a href="/moreInfo/{{ x['key'] }}">{{ x["company"] }} </a> </td>
                        <td>{{ x["name"] }}</td>
                    </tr>
                    {% endif %}   
                {% endfor %}
        
        </table>
    </main>
</body>
</html>